build/debug/CMakeCache.txt
build/debug/CMakeFiles/cmake.check_cache
build/debug/CMakeFiles/CMakeConfigureLog.yaml
build/debug/CMakeFiles/4.1.1-msvc4/CMakeCXXCompiler.cmake
build/debug/CMakeFiles/4.1.1-msvc4/CMakeDetermineCompilerABI_CXX.bin
build/debug/CMakeFiles/4.1.1-msvc4/CMakeRCCompiler.cmake
build/debug/CMakeFiles/4.1.1-msvc4/CMakeSystem.cmake
build/debug/CMakeFiles/4.1.1-msvc4/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/debug/CMakeFiles/4.1.1-msvc4/CompilerIdCXX/CMakeCXXCompilerId.exe
build/debug/CMakeFiles/4.1.1-msvc4/CompilerIdCXX/CMakeCXXCompilerId.obj
build/debug/CMakeFiles/ShowIncludes/foo.h
build/debug/CMakeFiles/ShowIncludes/main.c
build/debug/CMakeFiles/ShowIncludes/main.obj
build/release/CMakeCache.txt
build/release/.cmake/api/v1/query/client-vscode/query.json
build/release/.cmake/api/v1/reply/error-2025-12-29T07-30-43-0026.json
build/release/.cmake/api/v1/reply/error-2025-12-29T07-30-49-0410.json
build/release/.cmake/api/v1/reply/error-2025-12-29T07-31-26-0810.json
build/release/CMakeFiles/cmake.check_cache
build/release/CMakeFiles/CMakeConfigureLog.yaml
build/release/CMakeFiles/4.1.1-msvc4/CMakeSystem.cmake
.vscode/c_cpp_properties.json
