# 忽略 CMake 生成的构建目录
build/
build-*/
CMakeCache.txt
CMakeFiles/
CMakeSettings.json

#忽略vscode
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

# 忽略 Visual Studio 生成的临时文件夹
.vs/
out/
x64/
Debug/
Release/
*.user
*.sln
*.vcxproj

# 忽略 Qt Creator 生成的临时文件
*.pro.user
*.pro.user.*
ui_*.h
moc_*.cpp
qrc_*.cpp

# 忽略编译生成的库文件和可执行文件
*.lib
*.dll
*.so
*.a
*.exe
*.out